<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./kage-app.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#explore" class="go-to-main-content">Menuju ke konten utama</a>
    <header>
      <h1 tabindex="0" class="kage-app">Kage Restaurant</h1>
      <a id="hamburger" tabindex="0">☰</a>
      <nav id="hamburger-menu">
          <h1 id="close" tabindex="0">x</h1>
          <ul class="menu-bar">
            <li class="menu-list" id="home"><a href="/">Home</a></li>
            <li class="menu-list" id="favorite"><a href="#/kage-favorite">Favorite</a></li>
            <li class="menu-list" id="aboutMe"><a href="https://www.instagram.com/gilangherdiansyah.s">About Us</a></li>
          </ul>
      </nav>  
    </header>

    <div class="hero" id="kage-hero">
      <div class="hero-child" tabindex="0">
        <h2 class="hero-title">Selamat Datang di Kage Restaurant</h2>
        <p class="hero-description">Silahkan Temukan Restaurant Pilihan Anda</p>
      </div>
    </div>

    <main id="main-content">
      <h1 class="title-explore" tabindex="0" id="explore">Explore Restaurant</h1>
      <div class="kage-res"></div>
    </main>

    <footer>
      <p tabindex="0">Copyright &#169; 2023, Gilang Herdiansyah Saputra</p>
    </footer>
  </body>
</html>